{% extends "list.html" %} {% block path %}
<div class="col">
    <small>您的位置：<a href="{{url_for('index')}}">WoW Travel</a> > <a href="{{url_for('jp')}}">日本自由行</a> > <a href="{{url_for('jp_list')}}">產品介紹頁</a></small>
</div>
{% endblock %} {% block area %}
<div class="col-xl-2 col-5">🗾
    <select class="col-10 custom-select custom-select-sm">
        <option selected>選擇地區</option>
        <option value="北海道">北海道</option>
        <option value="本州">本州</option>
        <option value="四國">四國</option>
        <option value="九州">九州</option>
    </select>
</div>
{% endblock %} {% block schedule_name %}
<div>
    <div class="m-1 h2">日本 機加酒自由行</div>
    <div class="m-1"><small>產品代碼 : 20210413 最少2天 1夜 ，最多1002天 1001夜</small></div>
</div>
{% endblock %} {% block traffic %}
<div>
    <div class="m-2 h5"><img src="../static/icon/list/airplane.jpg"><strong class="pl-2">交通-航空</strong></div>
    <div class="border border-dark mb-2">
        <div class="m-3 h5"><strong>去程 - 請選擇</strong></div>
        <div class="row mb-3 col-12">
            <div class="col-xl-5 col-8">
                <form class="was-validated">
                    <div class="col-11">
                        <select class="custom-select" required>
                                            <option value="">選擇出發點</option>
                                            <option value="台北松山機場">台北松山機場</option>
                                            <option value="桃園機場">桃園機場</option>
                                            <option value="台中機場">台中機場</option>
                                            <option value="嘉義機場">嘉義機場</option>
                                            <option value="台南機場">台南機場</option>
                                            <option value="高雄機場">高雄機場</option>
                                          </select>
                        <div class="invalid-feedback">請選擇去程出發點</div>
                    </div>
                </form>
            </div>
            <div id="right-arrow"><img src="../static/icon/list/right-arrow.png"></div>
            <div class="col-xl-5 col-8">
                <form class="was-validated">
                    <div class="col-11">
                        <select class="custom-select" required>
                                                                            <option value="大阪機場">大阪機場</option>
                                                                          </select>
                        <div class="invalid-feedback">請選擇去程目的地</div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="border border-dark m-0">
        <div class="m-3 h5"><strong>回程 - 請選擇</strong></div>
        <div class="row mb-3 col-12">
            <div class="col-xl-5 col-8">
                <form class="was-validated">
                    <div class="col-11">
                        <select class="custom-select" required>
                                                                            <option value="大阪機場">大阪機場</option>
                                                                          </select>
                        <div class="invalid-feedback">請選擇回程出發點</div>
                    </div>
                </form>
            </div>
            <div id="right-arrow"><img src="../static/icon/list/right-arrow.png"></div>
            <div class="col-xl-5 col-8">
                <form class="was-validated">
                    <div class="col-11">
                        <select class="custom-select" required>
                                            <option value="">選擇目的地</option>
                                            <option value="台北松山機場">台北松山機場</option>
                                            <option value="桃園機場">桃園機場</option>
                                            <option value="台中機場">台中機場</option>
                                            <option value="嘉義機場">嘉義機場</option>
                                            <option value="台南機場">台南機場</option>
                                            <option value="高雄機場">高雄機場</option>
                                          </select>
                        <div class="invalid-feedback">請選擇回程目的地</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}{% block hotel %}
<div>
    <div class="m-2 h5"><img src="../static/icon/list/hotel.png"><strong class="pl-2">飯店</strong></div>
    <div class="border border-dark">
        <div class="ml-3">住宿1 2021/04/13(二)入住 1 晚， 2 成人</div>
    </div>
    <div id="hotel" class="row align-items-center border-bottom border-left border-right border-dark m-0">
        <div class="col-12 col-xl-4"><img src="../static/image/list/jp-list/hotel_2.jpg"></div>
        <div class="col-12 col-xl-5">FP大酒店 - 難波南</br>(FP HOTELS Grand South-Namba)</div>
        <div class="col-12 col-xl-3">參考星等:<br>⭐⭐⭐⭐⭐</div>
    </div>
</div>
{% endblock %} {% block recommend %}
<div id="recommend">
    <div class="m-2 h5 d-flex flex-row justify-content-between">
        <div><img src="../static/icon/list/shopping-cart.png"><strong class="pl-2">推薦加購</strong></div>
        <div id="shopping_basket">🛒已購(<span id="number" value="0">0</span>)</div>
    </div>
    <div class="d-flex flex-row justify-content-between align-items-center border border-dark">
        <div id="recommend-2" class=" ml-3 mb-0 alert alert-primary" role="alert" style="min-width:38px"><small>推薦</small></div>
        <div class="ml-3 mt-1 mr-auto h5"><strong>大阪城公園 - 大阪城天守閣</strong></div>
        <div class="d-flex flex-column align-items-end mr-3" style="min-width:150px">
            <div><span id="color_red" class="h4"><strong>TWD$2,000</strong></span>起</div>
            <div id="color_gray"><del>TWD$5,000</del></div>
        </div>
        <div style="min-width:68px"><button id="buy_1" type="button" class="btn btn-danger mr-2">選購</div>
    </div>
    <div class="d-flex flex-row justify-content-between align-items-center border border-dark">
        <div id="recommend-2" class=" ml-3 mb-0 alert alert-primary" role="alert" style="min-width:38px"><small>推薦</small></div>
        <div class="ml-3 mt-1 mr-auto h5"><strong>大阪通天閣 - 新世界美食</strong></div>
        <div class="d-flex flex-column align-items-end mr-3" style="min-width:150px">
            <div><span id="color_red" class="h4"><strong>TWD$1,000</strong></span>起</div>
            <div id="color_gray"><del>TWD$9,999</del></div>
        </div>
        <div style="min-width:68px"><button id="buy_2" type="button" class="btn btn-danger mr-2">選購</div>
    </div>
    <div class="d-flex flex-row align-items-center border border-dark">
        <div id="recommend-2" class=" ml-3 mb-0 alert alert-primary" role="alert" style="min-width:38px"><small>推薦</small></div>
        <div class="ml-3 mt-1 mr-auto h5"><strong>大阪歷史博物館</strong></div>
        <div class="d-flex flex-column align-items-end mr-3" style="min-width:150px">
            <div><span id="color_red" class="h4"><strong>TWD$6,666</strong></span>起</div>
            <div id="color_gray"><del>TWD$9,999</del></div>
        </div>
        <div style="min-width:68px"><button id="buy_3" type="button" class="btn btn-danger mr-2">選購</div>
    </div>
</div>
{% endblock %}

{% block cost %}
<!---下方為aside--->

<aside class="p-2 d-flex flex-column col-lg-3 col-12 m-1">
    <div class="border border-dark">
        <div class="ml-3 mt-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    加入比較
                </label>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-end align-items-baseline mr-3"><span id="color_red" class="h4"><strong>$49,500</strong></span>起/人</div>
        {% block reference %}
        <div class="col-12" id="button">

                        <!-- Button trigger modal -->

                        <button type="button" class="btn btn-primary w-100" data-toggle="modal" data-target="#exampleModal">
                                預訂
                              </button>

            <!-- Modal -->

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">錯誤</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                        </div>
                        <div class="modal-body">
                            公司已倒閉，前往推薦旅行社
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary"><a href="https://www.liontravel.com/category/zh-tw/index" target="_blank">前往</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
        <div id="color_green" class="d-flex flex-row justify-content-end mr-3">限1~4人(不含嬰兒)訂購</div>
        <div class="d-flex flex-row justify-content-end ml-3 mr-3"><small>2021年4月13日-2021年4月14日 2天</small></div>
        <div class="d-flex flex-row justify-content-end mr-3"><small>大阪，共1晚，1間房，2成人</small></div>
        <div class="d-flex flex-row justify-content-between align-items-baseline border-top mr-3 ml-3">
            <div>總金額</div>
            <div id="color_red" class="h4"><strong>TWD 99,000</strong></div>
        </div>
        <div class="d-flex flex-column border-top border-bottom">
            <div class="ml-3 mr-3">刷卡分期資訊<small><a href="#">分期銀行方案</a></small></div>
            <div id="card" class="d-flex flex-row justify-content-start ml-3"><img src="../static/icon/list/visa.png"><img src="../static/icon/list/jcb.png"><img src="../static/icon/list/mastercard.png"><img src="../static/icon/list/american-express.png"><img src="../static/icon/list/symbols.png"></div>
        </div>
        <div id="table" class="d-flex flex-column justify-content-between border-bottom">
            <div class="d-flex flex-row justify-content-around ml-2">
                <div>3期 0利率 每期</div>
                <div class="mr-3">$33,000</div>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-around ml-2">
            <div>6期 0利率 每期</div>
            <div class="mr-3">$16,500</div>
        </div>
    </div>
    </aside>
    {% endblock %} {% block feature_explain %}
    <div class="d-flex flex-column border-top">
        <div class="d-flex flex-row align-items-center m-2 icon"><img src="../static/icon/list/file.png" class="mr-2">產品特色</div>
        <div>
            <p><strong>自己的旅程自己組 ， 機票/飯店自由搭配，輕鬆自主安排自由行 ， 自助旅行 ， 旅遊說走就走！</strong></p>
        </div>
    </div>
    <div class="d-flex flex-column border-top">
        <div class="d-flex flex-row align-items-center m-2 icon"><img src="../static/icon/list/money.png" class="mr-2">費用說明</div>
        <div>
            <ul id="item">
                <li> <span id="color_brown"><strong>費用包含</strong></span>
                    <p>
                        <ol>
                            <li>交通 ： 來回機票，成人各 2 張</li>
                            <li>飯店 ： FP大酒店 - 難波南 1 晚</li>
                        </ol>
                    </p>
                </li>
                <li> <span id="color_brown"><strong>費用不包含</strong></span>
                    <p>
                        <ol>
                            <li>小費：每日旅館客房清理及行李小費。</li>
                            <li>護照新辦及簽證。 </li>
                            <li>行程表上未載明之各項開支；自選建議行程之應付費用及交通費。</li>
                            <li>純係私人之消費：如行李超重費、酒店房內食物飲料酒類、洗衣、電話、網路使用費及私人交通費。</li>
                        </ol>
                    </p>
                </li>
            </ul>
        </div>
    </div>
    {% endblock %}