{% extends "index.html" %} {% block title %} - 旅客評論{% endblock %} {% block style %}
<style>
    main {
        margin-top: 7vh;
    }
    
    #board {
        margin-top: 3vh;
        background-color: #eee;
        border-radius: 5px;
        height: 100%;
    }
    
    .title {
        font-weight: bolder;
        color: rgb(38, 62, 133);
    }
    
    textarea {
        border-radius: 20px;
        outline: none;
        resize: none;
        padding: 10px 0px 0px 20px;
        transition: all .7s 0s ease;
    }
    
    textarea:focus {
        box-shadow: 0px 0px 10px #db4961;
    }
    
    .wow-color {
        color: rgb(38, 62, 133);
    }
    
    .message {
        background: #fff;
        margin: 10px 0px;
        padding: 5px 5px 5px 10px;
        border-radius: 10px;
        border: 1px solid pink;
    }
    
    .card {
        border: 1px solid pink;
    }
    
    .card-title {
        font-weight: bolder;
        color: #db4961;
    }
    
    .card-text {
        height: 60px;
    }
    
    .btn-link {
        background-color: #db4961;
        color: #ffffff;
        transition: background-color .7s 0s ease, color .7s 0s ease;
    }
    
    .btn-link:hover {
        background-color: #ffb8c6;
        color: #db4961;
    }
    @media (max-width: 767px) {
        #board {
            margin-top: 0;
        }
    }
</style>
{% endblock %}{% block script %} {% block alert %}{% endblock %} {% endblock %}{% block content %}

<main class="d-flex flex-column font-weight-bolder">
    <div class="card text-white" style="border: 0px;">
        <div class="card-img" style="width: 100%; height: 250px; background: rgba(0, 0, 0, .5) url('../static/image/message/淺草雷門.jpg') no-repeat center; background-size: cover; background-blend-mode: multiply;">
        </div>
        <div class="card-img-overlay d-flex flex-column justify-content-center font-weight-bolder">
            <h3 class="card-title">淺草雷門</h3>
            <p class="card-text">夜晚寧靜的淺草寺，一排排的燈籠閃著迷人的光暈，令人陶醉其中。</p>
        </div>
    </div>
    <div id="board" class="container d-flex flex-column">
        <div class="d-flex justify-content-between">
            <h3 class="my-3 ml-2 title">旅客評價</h3>
            <span class="alert mt-3 mb-0 mr-5"></span>
        </div>
        <div class="my-4 px-5 d-flex flex-column">
            <textarea class="col-12" type='text' rows="3" placeholder="留個言吧..." title="字數限制100" maxlength="150"></textarea>
            <button class="send mt-4 w-50 btn btn-link text-decoration-none align-self-center">送出</button>
        </div>
        <hr class="my-3 w-100" />
        <div class="px-5">
            {% for row in rows %}
            <div class='msg d-flex'>
                <div class='msg wow-color'>{{ row['id'] }}樓</div>
                <div class='msg ml-3 wow-color'>{{ row['email'] }}</div>
            </div>
            <div class='msg d-flex justify-content-center align-items-center'>
                <div class='msg message mr-3 col-11'>
                    <div class='msg'>{{ row['comment'] }}</div>
                </div>
                <button class='del-btn btn-link text-decoration-none w-100' value='{{ row[ "id" ] }}'>del</button>
            </div>
            <hr class='my-3 w-100' /> {% endfor %}
        </div>
    </div>
    <div class="pages-div mb-1 d-flex justify-content-center">
        {% for i in range(pages) %}
        <a class='page m-2 text-decoration-none' href=''>{{i+1}}</a> {% endfor %}
    </div>
</main>
<script>
    /* todo 留言時間 */
    $(document).ready(function() {
        // 取得留言
        function get_msg(page) {
            let params = {
                "page": page
            }
            $.ajax({
                url: "{{url_for('get_messages')}}",
                type: 'POST',
                data: JSON.stringify(params),
                dataType: 'json',
                contentType: "application/json",
                error: function(xhr, status, error) {
                    console.log(error);
                },
                success: function(response) {
                    $('#board > div:nth-child(4)').text('')
                    $('.page').remove()
                    for (let i = 0; i < response['rows'].length; i++) {
                        $('#board > div:nth-child(4)').append("<div class='msg d-flex'><div class='msg wow-color'>" +
                            response['rows'][i]['id'] + "樓</div><div class='msg ml-3 wow-color'>" +
                            response['rows'][i]['email'] + "</div></div><div class='msg d-flex justify-content-center align-items-center'><div class='msg message mr-3 col-11'><div class='msg'>" +
                            response['rows'][i]['comment'] + "</div></div><button class='del-btn btn-link text-decoration-none w-100' value='" +
                            response['rows'][i]['id'] + "'>del</button></div><hr class='my-3 w-100' />")
                    }
                    for (let i = 0; i < response['pages']; i++) {
                        $('.pages-div').append("<a class='page m-2 text-decoration-none' href=''>" + (i + 1) + "</a>")
                    }
                }
            })
        };
        // 發送留言
        $('.send').click(function() {
            let comment = $('textarea').val()
            let params = {
                "comment": comment
            };
            // 留言限制
            if (comment != "") {
                $.ajax({
                    url: "/ajax/add_msg",
                    type: 'POST',
                    data: JSON.stringify(params),
                    dataType: 'json',
                    contentType: "application/json",
                    error: function(xhr, status, error) {
                        console.log(error);
                    },
                    success: function(response) {
                        if (response['success']) {
                            get_msg(1)
                        }
                        $('.alert').text(response['msg'])
                    }
                })
            }
            else {
                $('.alert').text('您還沒留言哦~')
            }
        });
        // 刪除留言 
        $(document).on('click', '.del-btn', function() {
            let element = $(this)
            let id = element.val()
            $.ajax({
                url: "/ajax/del_msg/" + id,
                type: 'DELETE',
                error: function(xhr, status, error) {
                    console.log(error);
                },
                success: function(response) {
                    if (response['success']) {
                        element.parents('.msg').fadeOut()
                        get_msg(1)
                    }
                    $('.alert').text(response['msg'])
                }
            })
        });
        // 留言板頁數
        $(document).on('click', '.page', function(event) {
            event.preventDefault()
            let page = $(this).text()
            get_msg(page)
        });
    })
</script>
{% endblock %}