{% extends "index.html" %} {% block title %} - 旅客評論{% endblock %} {% block style %}
<style>
    .rwd {
        margin: 10vh auto 0;
        max-width: 500px;
        height: fit-content;
        background-color: #eee;
        border-radius: 5px;
    }
    
    .title {
        font-weight: bolder;
        color: #db4961;
    }
    
    textarea {
        border-radius: 20px;
        outline: none;
        resize: none;
        padding: 10px 0px 0px 20px;
        transition: all .7s 0s ease;
    }
    
    textarea:focus {
        box-shadow: 0px 0px 10px #db4961;
    }
    
    .wow-color {
        color: rgb(38, 62, 133);
    }
    
    .btn-primary {
        background-color: rgb(38, 62, 133);
        transition: all .7s 0s ease;
    }
    
    .message {
        background: #fff;
        margin: 10px 0px;
        padding: 5px 5px 5px 10px;
        border-radius: 10px;
        border: 1px solid pink;
    }
    
    .btn-link {
        background-color: #db4961;
        color: #ffffff;
        transition: all .7s 0s ease;
    }
    
    .btn-link:hover {
        background-color: #ffb8c6;
        color: #db4961;
    }
</style>
{% endblock %}{% block script %} {% block alert %}{% endblock %} {% endblock %}{% block content %}

<div class="container rwd d-flex flex-column">
    <h3 class="my-3 ml-2 title">旅客評價</h3>
    <div class="my-4 px-5">
        <form class="d-flex flex-column" action="{{url_for('add_messenger')}}" method="POST">
            <textarea class="col-12" type='text' name="comment" rows="3" placeholder="留個言吧..." maxlength="52"></textarea>
            <button class="mt-4 w-50 btn btn-primary text-decoration-none text-white align-self-center">送出</button>
        </form>
    </div>
    <hr class="my-3 w-100" />
    <div class="px-5">
        {% for row in rows %}
        <div class="d-flex">
            <div class="wow-color">{{ row['id'] }}樓</div>
            <div class="ml-3 wow-color">{{ row['email'] }}</div>
        </div>
        <div class="d-flex align-items-center">
            <div class="message mr-3 col-11">
                <div>{{ row['comment'] }}</div>
            </div>
            <form action="{{url_for('delete_messenger')}}" method="POST">
                <button class="btn-link text-decoration-none w-100" name="button" value="{{ row['id'] }}">del</button>
            </form>
        </div>
        <hr class="my-3 w-100" /> {% endfor %}
    </div>
</div>
<script>
    /* todo 留言限制 */
    /* todo 留言頁數 */
    /* todo 留言時間 */
    $(document).ready(function() {
        var today = new Date()

    })
</script>
{% endblock %}